/*header*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
    border-bottom: solid 4px #E5E5E5;
}

header img{
    margin-top: 20px;
    width:150px;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style:none;
}

header li{
    margin-right: 10vw;
}

header li:last-of-type{
    margin-right: 0vw;
}

.solar-system{
    top : 50x;
    transform : scale(0.6);
}

.solar-system-header{
    top : 120px;
}

